/* Estilo para el cuerpo de la p치gina */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo opcional */
}

/* Estilo para la imagen "desktop" */
#desktop {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Asegura que la imagen no se extienda m치s all치 del ancho del dispositivo */
    height: auto; /* Mantiene la relaci칩n de aspecto de la imagen */
}
